nodered-data/flows.json
[
    {
        "id": "flow_main",
        "type": "tab",
        "label": "IoT Sensor Flow",
        "disabled": false,
        "info": "Flow para monitorar sensores IoT via MQTT"
    },
    {
        "id": "mqtt_tls_config",
        "type": "tls-config",
        "name": "TLS Config",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "MQTT Broker Mosquitto",
        "broker": "mosquitto",
        "port": "8883",
        "tls": "mqtt_tls_config",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b48ee42b63475ab",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "00ceb5f6372e1c72",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c74fe28bba1cdebc",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "6b48ee42b63475ab",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "00ceb5f6372e1c72",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d1d09bb40d3e429d",
        "type": "ui-group",
        "name": "Dashboard IoT",
        "page": "c74fe28bba1cdebc",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "mqtt_in_node",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "Sensor Temperature",
        "topic": "factory/sensors/temp_sensor_01/telemetry",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "json_parse_node"
            ]
        ]
    },
    {
        "id": "json_parse_node",
        "type": "json",
        "z": "flow_main",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "function_extract_temp",
                "debug_node"
            ]
        ]
    },
    {
        "id": "function_extract_temp",
        "type": "function",
        "z": "flow_main",
        "name": "Extract Temperature",
        "func": "// Extrair temperatura do payload\nconst temperature = msg.payload.temperature;\nconst timestamp = msg.payload.timestamp;\n\n// Enviar para o dashboard\nmsg.payload = temperature;\nmsg.topic = \"Temperatura Atual\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "58153ce1202e45c9",
                "c545d7c7cd3fca01",
                "f301a8d99072474d"
            ]
        ]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "58153ce1202e45c9",
        "type": "ui-gauge",
        "z": "flow_main",
        "name": "Sensor de Temperatura",
        "group": "d1d09bb40d3e429d",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "dashboard",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": "16",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 850,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c545d7c7cd3fca01",
        "type": "ui-chart",
        "z": "flow_main",
        "group": "d1d09bb40d3e429d",
        "name": "Chart Temperature",
        "label": "Histórico",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "50",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "10",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f301a8d99072474d",
        "type": "ui-text",
        "z": "flow_main",
        "group": "d1d09bb40d3e429d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Text Temperature",
        "label": "Último valor",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "°C",
        "valueType": "msg",
        "x": 830,
        "y": 240,
        "wires": []
    }
]